<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-align-items-center">Add Restaurant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <form [formGroup]="addRestaurantForm" (ngSubmit)="submitForm()" novalidate>

    <ion-item lines="full">
      <ion-label position="floating">Restaurant Name</ion-label>
      <ion-input formControlName="name" inputmode="text" type="text"></ion-input>  
      <ion-note slot="error" *ngIf="isSubmitted && errorControl['name'].errors?.['required']">Restaurant name is required</ion-note>
    </ion-item>  

    <ion-item lines="full">
      <ion-label>Establishment Date</ion-label>
      <!-- <ion-datetime formControlName="established"  type="date"></ion-datetime>   -->
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime" formControlName="established" presentation="date" max="{{maxDate}}" [showDefaultButtons]="true"></ion-datetime>
        </ng-template>
      </ion-modal>
      <ion-note slot="error" *ngIf="isSubmitted && errorControl['established'].errors?.['required']">Established date is required</ion-note>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Cuisines Offered</ion-label>
      <ion-select placeholder="Select" [multiple]="true" formControlName="cuisine">
        <ion-select-option value="North Indian">North Indian</ion-select-option>
        <ion-select-option value="South Indian">South Indian</ion-select-option>
        <ion-select-option value="Fast Food">Fast Food</ion-select-option>
        <ion-select-option value="Italian">Italian</ion-select-option>
        <ion-select-option value="Chinese">Chinese</ion-select-option>
        <ion-select-option value="Desserts">Desserts</ion-select-option>
        <ion-select-option value="Bakery">Bakery</ion-select-option>
        <ion-select-option value="Street Food">Street Food</ion-select-option>
        <ion-select-option value="Mexican">Mexican</ion-select-option>
        <ion-select-option value="Cafe">Cafe</ion-select-option>
      </ion-select>
      <ion-note slot="error" *ngIf="isSubmitted && errorControl['cuisine'].errors?.['required']">Cuisines Offered is required</ion-note>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Pricing Level</ion-label>
      <ion-input formControlName="pricing" inputmode="number" type="number"></ion-input>  
      <ion-note slot="error" *ngIf="isSubmitted && errorControl['pricing'].errors?.['required']">Pricing level is required</ion-note>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Location</ion-label>
      <ion-input formControlName="location" inputmode="text" type="text"></ion-input>  
      <ion-note slot="error" *ngIf="isSubmitted && errorControl['location'].errors?.['required']">Location is required</ion-note>
    </ion-item>
    
    <ion-item lines="full">
      <ion-label position="floating">Description</ion-label>
      <ion-textarea formControlName="description" inputmode="text" type="text" [autoGrow]="true"></ion-textarea>  
      <ion-note slot="error" *ngIf="isSubmitted && errorControl['description'].errors?.['required']">Description is required</ion-note>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block" color="danger" class="ion-margin-top ion-margin-bottom">Add Restaurant</ion-button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>
