<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="../../../assets/images/user.jpg" />
    </ion-avatar>

    <ion-item lines="full" class="ion-margin">
      <ion-icon name="person-circle" slot="start" color="primary"></ion-icon>
      <ion-label>{{ userDetails.fullName }}</ion-label>
    </ion-item>

    <ion-item lines="full" class="ion-margin">
      <ion-icon name="mail" slot="start" color="primary"></ion-icon>
      <ion-label>{{ userDetails.email }}</ion-label>
    </ion-item>

    <ion-item lines="full" class="ion-margin">
      <ion-icon name="phone-portrait" slot="start" color="primary"></ion-icon>
      <ion-label>{{ userDetails.mobile }}</ion-label>
    </ion-item>

  </ion-list>

</ion-content>


