ion-content{
  position:relative;
  .container {
    position: absolute;
    top: 40%;
    left:0;
    right:0;
    transform: translateY(-50%);
    ion-img{
      width:30%;
      margin:0 auto;
    }
    ion-grid{
      ion-text{
        font-size: 20px;
        line-height: 26px;
        margin:0 auto;
      }
      .panda-text{
        font-weight:600;
        text-decoration:underline;
      }
      ion-button{margin:0 auto;}
    }
  }
}

