ion-content{
  ion-item{
    ion-img::part(image) {
      border-radius: 10px;
    }
    --border-color: var(--ion-color-primary);
    --border-width:2px;
    h3{
      font-size:18px;
      font-weight: 800;
      text-align: left;
    }
  }
}


.margin0{margin:0}
.l-detail{
  text-align: left;
  font-size: 14px;
  color:rgb(91, 91, 91);
  font-weight:600;
}
.r-detail{
  text-align:right;
  font-size: 14px;
  color:rgb(91, 91, 91);
  font-weight:600;
}
.more-arrow{margin-left: 3px;}
.pricing-icon{
  position:relative;
  top:2px;
}
.description{
  font-size:14px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.res-estd{font-size:12px;}
.edit-delete{position:relative;top:-2px;}
