<ion-content>

  <div class="container">
    <ion-img src="../../assets/images/panda-logo.png"></ion-img>
    <ion-grid>
      <ion-row class="ion-margin-top ion-margin-bottom">
        <ion-text class="">Welcome to the <ion-text color="success" class="panda-text">Panda</ion-text> app!!</ion-text>
      </ion-row>
      <ion-row class="ion-margin-top ion-margin-bottom">
        <ion-button [routerLink]="['/register']">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
